@page "/checklist/items/{ChecklistName}"
@inject HttpClient HttpClient
@inject IJSRuntime Js

<h3>Items</h3>

<Form ButtonText="Add Item" Item="@_itemToAdd" OnValidSubmit="@CreateItem"></Form>

@if (Items == null)
{
    <text>Loading...</text>
}
else if (Items.Length == 0)
{
    <text>No items Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Checked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Checked</td>
                    <button class="btn btn-success" @onclick="@(() => Check(item.Id))">Check</button>
                    <button class="btn btn-danger" @onclick="@(() => Delete(item.Id))">Delete</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public string ChecklistName { get; set; }
    readonly Item _itemToAdd = new Item();
    async Task CreateItem()
    {
        await HttpClient.PostAsJsonAsync($"api/checklist/{ChecklistName}/items", _itemToAdd.Name);
        await OnInitializedAsync();
    }

    Item[] Items { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Items = await HttpClient.GetFromJsonAsync<Item[]>($"api/checklist/{ChecklistName}/items");
    }
    
    async Task Check(long itemId)
    {
        bool check = !Items.First(i => i.Id == itemId).Checked;
        await HttpClient.PatchAsync($"api/checklist/{ChecklistName}/items/{itemId}", JsonContent.Create(check));
        await OnInitializedAsync();
    }
    async Task Delete(long itemId)
    {
        if (await Js.InvokeAsync<bool>("confirm", $"Do you want to delete item {itemId}?"))
        {
            await HttpClient.DeleteAsync($"api/checklist/{ChecklistName}/items/{itemId}");
            await OnInitializedAsync();
        }
    }
}
